/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #eee;
}
.back-button {
    position: fixed;
    z-index: 2000;
    left: 5%;
    top: 1%;
    color: #eee;
    text-decoration: none;
    font-size: 1.5rem;
}